@model IEnumerable<Sitecore.ContentSearch.SearchTypes.SearchResultItem>
<h2>AnatomyOfSearch</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Item name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model)
        {
            <tr>
                <td>@result.Name</td>
            </tr>
        }
    </tbody>
</table>
