@model IEnumerable<Sitecore.ContentSearch.SearchTypes.SearchResultItem>
<h2>Paths</h2>
<p>
    Timer1: @ViewBag.Timer1<br />
    Timer2: @ViewBag.Timer2
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Item name</th>
            <th>Path</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model)
        {
            <tr>
                <td>@result.Name</td>
                <td>@result.Path</td>
            </tr>
        }
    </tbody>
</table>
