@model Website.Models.SearchResultModel<Sitecore.ContentSearch.SearchTypes.SearchResultItem>
<h2>Regex: @ViewBag.Regex</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Item name</th>
            <th>Result score</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model.Hits)
        {
            <tr>
                <td>@result.Document.Name</td>
                <td>@result.Score</td>
            </tr>
        }
    </tbody>
</table>
