<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/content/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1>Usergroup - Searching with Sitecore 7</h1>
        </div>
    @RenderBody()

    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/scripts/jquery-1.9.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/scripts/bootstrap.min.js"></script>
</body>
</html>
